.otherWrapper {
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
  padding: 50px;
}

.otherContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentAPI {
  padding-left: 20px;
}

h1 {
  font-size: 30px;
}

.h1API {
  color: rgb(95, 95, 95);
}

.otherH1 {
  font-size: 40px;
}

.apiIMG {
  width: 600px;
  height: 300px;
  margin: 3px;
}

@media (max-width: 575.98px) {
  .otherH1 {
    font-size: 30px;
  }
  .h1API {
    font-size: 20px;
  }
  .apiIMG {
    width: 100%;
    height: 70%;
  }
}

@media (max-width: 767.98px) {
  .otherH1 {
    font-size: 30px;
  }
  .h1API {
    font-size: 20px;
  }
  .apiIMG {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
  .otherH1 {
    font-size: 40px;
  }
  .h1API {
    font-size: 30px;
  }
  .apiIMG {
    width: 100%;
  }
}
