.skillsWrapper {
  padding-top: 50px;
  padding-left: 40px;
  width: 100%;
  height: 900px;
  font-family: "Oswald", sans-serif;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Skills {
  width: 45%;
  padding-top: 50px;
}

.line {
  height: 25px;

  margin: 0 auto 10px;
  line-height: 25px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 0 0 0 10px;
  position: relative;
}

.line:before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background: rgb(236, 236, 236);
}

.line:after {
  content: "";
  background: rgb(219, 28, 28);
  height: 25px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 7s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.line1:after {
  max-width: 90%;
}

.line2:after {
  max-width: 70%;
}

.line3:after {
  max-width: 35%;
}

.line4:after {
  max-width: 55%;
}

.line5:after {
  max-width: 35%;
}

.line6:after {
  max-width: 25%;
}

.line7:after {
  max-width: 20%;
}

.line8:after {
  max-width: 15%;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#centre {
  display: flex;
  background: rgb(83, 83, 83);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

#languages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#english {
  display: flex;
  background-color: rgb(35, 211, 196);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 20%;
  left: 10%;
  z-index: 1;
  position: absolute;
  font-size: 20px;
}

.language {
  font-size: 30px;
}

#romanian {
  display: flex;
  background-color: rgb(211, 208, 35);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 15%;
  left: 50%;
  z-index: 1;
  position: absolute;
  font-size: 20px;
}

#norwegian {
  display: flex;
  background-color: rgb(168, 168, 168);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 60%;
  left: 0;
  z-index: 1;
  position: absolute;
  font-size: 20px;
}

#french {
  display: flex;
  background-color: rgb(219, 28, 28);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 60%;
  left: 60%;
  z-index: 1;
  position: absolute;
  font-size: 20px;
}
