#contactWrapper {
  width: 100%;
  height: auto;
  font-family: "Oswald", sans-serif;
}

#contactContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  text-align: center;
}

#contactH1 {
  font-size: 40px;
  color: rgb(230, 0, 0);
  width: 20%;
}

.contactSpan {
  margin-top: 30px;
  font-size: 25px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  padding-top: 30px;
}

.icon {
  width: 80px;
  height: 80px;
}

#secondSpan {
  font-size: 30px;
}

#email {
  color: rgb(35, 211, 196);
  text-shadow: 1px 1px 1px rgb(95, 95, 95);
  font-size: 25px;
}
