#aboutWrapper {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 170px;
}

#aboutTitle {
  background-color: rgb(216, 60, 60);
  height: 7px;
}

#aboutH1 {
  padding-top: 1px;
  font-family: "Oswald", sans-serif;
  padding-left: 40px;
  padding-top: 20px;
}

.miniWrapper {
  display: flex;
  flex-direction: column;
}

#aboutContent {
  padding-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#aboutText {
  font-size: 20px;
  height: auto;
}

#birth {
  position: relative;
  margin-left: 450px;
}

#firstCircle {
  height: 200px;
  width: 400px;
  border-radius: 0 0 200px 200px;
  background-color: rgb(35, 211, 196);
  position: absolute;
}

#secondCircle {
  height: 160px;
  width: 330px;
  border-radius: 0 0 160px 160px;
  background: rgb(255, 41, 41);
  position: absolute;
  margin-left: 35px;
}

#thirdCircle {
  height: 115px;
  width: 250px;
  border-radius: 0 0 120px 120px;
  background: rgb(117, 103, 103);
  position: absolute;
  margin-left: 75px;
}

.dmy {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}

#year {
  margin-top: 160px;
}

#month {
  margin-top: 25px;
}
#day {
  margin-top: 117px;
}
#born {
  margin-top: 10px;
  color: white;
}

#aboutSummary {
  display: flex;
  width: 400px;
  height: auto;
  font-size: 25px;
  font-family: "Architects Daughter", cursive;
  font-family: "Krub", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Pontano Sans", sans-serif;
}

#places {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 170px;
}

.petCJ {
  content: url("http://www.rleonardi.com/interactive-resume/image/building-a.png");
  width: auto;
  height: auto;
}

#placeData {
  font-family: "Architects Daughter", cursive;
  font-family: "Krub", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Pontano Sans", sans-serif;
  justify-content: center;
  display: flex;
  font-size: 21px;
  text-align: center;
}

p > span {
  color: red;
  font-weight: bold;
}

#circles {
  padding-top: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.dataCircle {
  -moz-border-radius: 50px/50px;
  border-radius: 60px/60px;
  border: solid 7px #f00;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

#ambition {
  border: solid 7px rgb(107, 107, 107);
  margin-top: -40px;
}

#intelligence {
  border: solid 7px rgb(35, 211, 196);
  margin-top: 50px;
}

#aboutAndCircles {
  flex-direction: row;
}

#total {
  width: 170px;
  height: 170px;
  -moz-border-radius: 70px/70px;
  border-radius: 100px/100px;
}

.percentageTrait,
.nameTrait {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.nameTrait {
  font-size: 17px;
}

#eq {
  font-size: 70px;
}

.icons {
  height: 30px;
}

@media (max-width: 991.98px) {
  #aboutSummary {
    width: 50%;
    font-size: 25px;
  }

  #birth {
    margin-left: 400px;
  }

  #firstCircle {
    height: 170px;
    width: 350px;
  }

  #secondCircle {
    height: 140px;
    width: 290px;

    margin-left: 32px;
  }

  #thirdCircle {
    height: 110px;
    width: 220px;
    margin-left: 70px;
  }

  .dmy {
    font-size: 20px;
  }

  #year {
    margin-top: 140px;
  }

  #month {
    margin-top: 30px;
  }

  #day {
    margin-top: 107px;
  }

  .percentageTrait,
  .nameTrait {
    font-size: 20px;
  }

  .dataCircle {
    border: solid 4px #f00;
    width: 120px;
    height: 120px;

    margin: 5px;
  }

  #ambition {
    border: solid 4px rgb(107, 107, 107);
    margin-top: -40px;
  }

  #intelligence {
    border: solid 4px rgb(35, 211, 196);
    margin-top: 30px;
    margin-left: -10px;
  }

  #eq {
    font-size: 35px;
    margin-top: 10px;
  }

  #total {
    border: 4px solid red;
    width: 140px;
    height: 140px;

    margin-top: -35px;
  }

  #circles {
    margin-top: 120px;
  }

  #places {
    margin-top: 90px;
    margin-left: -100px;
  }

  .petCJ {
    width: 50%;
    height: 60%;
  }

  #placeData {
    font-size: 17px;
  }
}

@media (max-width: 767.98px) {
  #aboutTitle {
    width: 100%;
  }

  #aboutContent {
    width: 200px;
  }

  #aboutSummary {
    width: 40%;
    font-size: 18px;
  }

  #birth {
    position: relative;
    margin-left: 300px;
  }

  #firstCircle {
    height: 150px;
    width: 270px;
  }

  #secondCircle {
    height: 120px;
    width: 220px;

    margin-left: 25px;
  }

  #thirdCircle {
    height: 90px;
    width: 160px;

    margin-left: 55px;
  }

  .dmy {
    font-size: 15px;
  }

  #year {
    margin-top: 122px;
  }

  #month {
    margin-top: 20px;
  }

  #day {
    margin-top: 92px;
  }

  #born {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  #circles {
    margin-top: 100px;
    width: 100%;
  }

  .percentageTrait,
  .nameTrait {
    font-size: 15px;
  }

  .dataCircle {
    border: solid 4px #f00;
    width: 100px;
    height: 100px;
    margin: 5px;
  }

  #ambition {
    border: solid 4px rgb(107, 107, 107);
    margin-top: -40px;
  }

  #intelligence {
    border: solid 4px rgb(35, 211, 196);
    margin-top: 30px;
    margin-left: -10px;
  }

  #eq {
    font-size: 35px;
    margin-top: 10px;
  }

  #total {
    border: 4px solid red;
    width: 120px;
    height: 120px;
    margin-top: -20px;
  }

  #places {
    margin-top: 75px;
    height: 10%;
    margin-left: -100px;
  }

  .petCJ {
    width: 150%;
    height: 150%;
  }

  #placeData {
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  #aboutTitle {
    width: 100%;
  }

  #aboutContent {
    width: 200px;
  }

  #aboutSummary {
    width: 100%;
    font-size: 12px;
  }

  #circles {
    margin-top: 30px;
    width: 100%;
  }

  .percentageTrait,
  .nameTrait {
    font-size: 10px;
  }

  .dataCircle {
    border: solid 2px #f00;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 5px;
  }

  #ambition {
    border: solid 2px rgb(107, 107, 107);
    margin-top: -40px;
  }

  #intelligence {
    border: solid 2px rgb(35, 211, 196);
    margin-top: 30px;
    margin-left: -10px;
  }

  #eq {
    font-size: 30px;
    margin-top: 10px;
  }

  #total {
    border: 2px solid red;
    width: 340px;
    height: 100%;
    padding: 10px;
    margin-top: 0;
  }

  #places {
    margin-top: 20px;
    height: 10%;
    margin-left: 100px;
  }

  .petCJ {
    width: 120%;
    height: 120%;
  }

  #placeData {
    font-size: 12px;
  }

  #aboutAndCircles {
    width: 100%;
  }

  #birth {
    position: relative;
    margin-left: 230px;
  }

  #firstCircle {
    height: 90px;
    width: 170px;
  }

  #secondCircle {
    height: 70px;
    width: 130px;
    margin-left: 20px;
  }

  #thirdCircle {
    height: 50px;
    width: 80px;
    margin-left: 45px;
  }

  .dmy {
    font-size: 10px;
  }

  #year {
    margin-top: 72px;
  }

  #month {
    margin-top: 7px;
  }

  #day {
    margin-top: 52px;
  }

  #born {
    margin-top: 5px;
  }
}
