@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Krub:wght@300&family=Oswald:wght@300&family=Pontano+Sans&display=swap");

#name {
  margin-left: 250px;
  margin-top: 120px;
  font-size: 10em;
  padding: 0;
  color: black;
}
#nameSpan {
  font-family: "Oswald", sans-serif;
  transform: scale(0.9);
  display: inline-block;
}

#desc {
  font-size: 35px;
  color: black;
  font-family: "Ranga", cursive;
  margin-left: 280px;
}
